# Data science tool and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List of popular languages used in data science.
- Identify commonly used libraries in data science
- Basic data science tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools|
|-------------------|
| Jupyter Notebook  |
| Apache Zeppelin   |
| RStudio           |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [6]:
#This is a simple arithmetic expression to multiply then add integers.
(3 * 4)+5

17

In [9]:
#  This will convert 200 minutes to hours by diving by 60.
minutes = 200
Hours = minutes / 60
Hours

3.3333333333333335

## Author ##
Karasala Rachel Mano Varshitha